body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header, .footer {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.header {
  flex-shrink: 0;
}

.footer {
  flex-shrink: 0;
  margin-top: auto;
}

.content {
  display: flex;
  flex: 1;
  overflow-y: auto;
}

.recipe-list {
  width: 20%;
  padding: 20px;
  background-color: #f4f4f4;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  border-right: 6px solid black;
}

.recipe-details {
  width: 80%;
  padding: 0px 20px 20px 0px;
}

.recipe-item {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.3s ease;
}

.recipe-item:hover {
  background-color: #ddd;
}

.recipe-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
}

.add-recipe-container {
  margin: 20px;
  text-align: center;
}

.add-recipe-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.add-recipe-button:hover {
  background-color: #0056b3;
}


@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .recipe-list, .recipe-details {
    width: 96%;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: none;
  }

  .recipe-image {
    max-height: 200px;
  }
}
